.admin {
    color: red;
}

.active-user {
    color: greenyellow;
}

.normal {
    color: grey;
}

#foodselect {
	margin-top: -12px;
}

input[type=number] {
	width: 5em;
}

.search-group {
    width: 15em;
}

.pagination {
    margin: 0;
    padding: 0;
}

.select2-container--bootstrap .select2-selection {
	border-radius:0px;
	color:#555;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	color:#555;
	padding:0;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
	border-radius:0px;
	color:#555;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
	color: #555;	
}
.select2-container .select2-selection--single .select2-selection__rendered {
	margin-top: 0px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
	border-width:6px 3px 0;
	margin-left:3px;
}
